
@font-face {
  font-family: icon-font;      
  src: url('../fonts/icon-font-normal-normal.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Futura PT";      
  src: url('../fonts/futura-pt-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Futura PT";      
  src: url('../fonts/futura-pt-500-normal.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Futura PT";      
  src: url('../fonts/futura-pt-450-normal.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
